<!-- forgot_password.html -->
<!DOCTYPE html>
<title>Forgot Password - Hero2Tech</title>
{% extends 'base.html' %}

{% block content %}
<section class="forgot-password">
        <h2>Forgot Password</h2>
        {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% set latest_message = messages[0] %}
        <ul class="flashes">
            <li class="flash {{ latest_message[0] }}">{{ latest_message[1] }}</li>
        </ul>
      {% endif %}
    {% endwith %}
    <hr>
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.email.label }}<br>
                {{ form.email(class="form-control") }}<br>
                {% for error in form.email.errors %}
                    <div class="error">{{ error }}</div><br>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
</section>
{% endblock %}