<!-- reset_password.html -->
<!DOCTYPE html>
<title>Reset Password - Hero2Tech</title>
{% extends 'base.html' %}

{% block content %}
<section class="reset-password">
        <h2>Reset Password</h2>
        {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% set latest_message = messages[0] %}
        <ul class="flashes">
            <li class="flash {{ latest_message[0] }}">{{ latest_message[1] }}</li>
        </ul>
      {% endif %}
    {% endwith %}
    <hr>
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.password.label }}<br>
                {{ form.password(class="form-control") }}<br>
            </div>
            <div class="form-group">
                {{ form.confirm_password.label }}<br>
                {{ form.confirm_password(class="form-control") }}<br>
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
</section>
{% endblock %}