<!-- signup.html -->
<!DOCTYPE html>
<title>Sign Up - Hero2Tech</title>
{% extends "base.html" %}

{% block content %}
<section class="signup">
    <h2>Sign Up</h2>
    <div class="social-signup">
        <button onclick="google_signup()" class="google-btn">Sign Up with Google</button>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% set latest_message = messages[0] %}
        <ul class="flashes">
            <li class="flash {{ latest_message[0] }}">{{ latest_message[1] }}</li>
        </ul>
      {% endif %}
    {% endwith %}
    <hr>
    <form method="POST" action="{{ url_for('signup') }}">
        {{ form.hidden_tag() }}
        <div>
            
            <label for="username">Username</label><br>
            {{ form.username(size=32, class_='input-field') }}<br>
        </div>
        <div>
            <label for="email">Email</label><br>
            {{ form.email(size=32, class_='input-field') }}<br>
        </div>
        <div>
            <label for="password">Password</label><br>
            {{ form.password(size=32, class_='input-field') }}<br>
        </div>
        <div>
            <label for="confirm_password">Confirm Password</label><br>
            {{ form.confirm_password(size=32, class_='input-field') }}<br>
        </div>
        <div>
            <input id="submit" name="submit" type="submit" value="Sign Up" class="btn btn-primary">
        </div>
    </form>
</section>
<script>
    function google_signup() {
        window.location.href = "/login/google";
    }
</script>
{% endblock %}
